@import "../variables.modules";

footer {
  color: $dark;
}

.dark {
  background-color: $dark;
  color: $white;
  transition: all 400ms;

  a, i, li {
    color: $white;
    transition: color 400ms;
  }

  footer {
    color: $white;
  }
}

.light {
  background-color: $white;
  color: $dark;
  transition: all 400ms;
  
  a, i, li {
    color: $dark;
    transition: color 400ms;
  }

  a:hover, .boton:hover {
    color: $white
  }

  footer {
    color: $dark;
  }
}

textarea:focus {
  outline: none !important;
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,.75) !important;
}

